body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.error {
  color: red;
}

label {
  color: black
}

.modal-title {
  color: black !important
}

#btn {
  margin-left: 210px;
}

.table-scroll {
  height: 250px;
  overflow: auto;
}

.clock {
  text-align: center;
  color: black;
  font-weight: 500;
  background-color: beige;
  padding: 45px;
  font-size: 50px;
}